.navbar{
  --bs-navbar-padding-y: 0rem !important;
}
.sidebar{
    width: 25%;
    /* height: 100%; */
    position: fixed;
    top: 80px;
    left: 0;
    transition: 0.3s;
    z-index: 999;
}
.overflow-y-auto {
  overflow-y: auto !important;
}
.modal{
  --bs-modal-width: 525px;
}
